* {
	padding: 0;
	margin: 0;
}

#wrong_div {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: red;
	color: #fff;
	padding: 3em;
}

#wrong_explain_pre {
	background: #fff;
	color: #000;
	padding: 2em;
	margin: 2em;
	overflow: auto;
}

#info_div {
	position: relative;
	background: aqua;
	padding: 1em;
	padding-left: 4em;
	margin: 2em;
	border: 1px solid #000;
}

#info_close_span {
	position: absolute;
	right: 1em;
	top: .5em;
	font-size: larger;
}

#info_close_span:hover {
	color: #666;
	cursor: pointer;
}

