#view_div {
	height: 100vh;
	display: flex;
	align-items: stretch;
	flex-wrap: nowrap;
	flex-direction: row-reverse;
}

.show_body {
	height: 100%;
	overflow: auto;
}

.show_body_header_box {
	background: bisque;
	overflow-y: auto;
	overflow-x: hidden;
	border-right: 2px solid black;
}

.show_body_handle:hover {
	background: rgba(0, 0, 0, 0.2);
}

.show_body_handle:active {
	background: rgba(0, 0, 0, 0.5);
}

.show_header {
	position: relative;
	padding-left: 1em;
}

.show_header:hover {
	background: rgba(0, 0, 0, 0.3);
}

.show_header_clicked {
	left: 1em;
	border-left: 2px solid black;
}

.show_body_text {
	flex: 1;
}

.show_body_text > div {
	padding: 2em;
}

span.math.display {
	overflow: auto hidden;
	display: block;
}
