#view_div {
	height: 100vh;
}

.show_header_box {
	flex: none;
	width: 20vw;
	background: bisque;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	border-right: 2px solid black;
}

.show_header {
	position: relative;
	padding-left: 1em;
}

.show_header:hover {
	background: rgba(0, 0, 0, 0.3);
}

.show_header_clicked {
	left: 1em;
	border-left: 2px solid black;
}

.show_body {
	height: 100%;
}

.show_body_text {
	overflow: auto;
}

.show_body_grouped {
	display: flex;
	align-items: stretch;
	flex-wrap: nowrap;
	height: 100%;
}
